@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto:300,400&display=swap');

@font-face {
     font-family: 'Amostely Signature';
     src: url(/static/fonts/AmostelySignature.ttf);
}

*:focus { outline: none !important; }

html, body {
     font-family: 'Roboto', sans-serif;
     background-image: linear-gradient(65deg, #ebedee, #fdfbfb); /* → */
}

a:hover {
     text-decoration: none;
}

.crop img { 
     height: 100%;
     width: 100%;
     position: relative;
     vertical-align: middle;
     border: 3px solid whitesmoke;
}

header {
     width: 100%;
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.signature {
     color: rgb(31, 31, 31);
     text-align: center;
     user-select: none;
}

.signature-heading {
     font-family: 'Amostely Signature', fantasy, cursive;
     font-size: 60px;
     margin-bottom: 20px;
}

.signature-subhead {
     font-family: 'Playfair Display SC', serif;
     text-transform: uppercase;
     margin-bottom: 0;
     font-size: 25px;
     font-weight: 600;
     color: #384147;
}

.navbar {
     background-color:#384147;
}

.navbar-toggler i {
     color: #FFF;
     font-size: 25px;
}

.navbar-toggler .fa-times {
     display: none;
}

.navbar-toggler.menu-open .fa-bars {
     display: none;
}

.navbar-toggler.menu-open .fa-times {
     display: block;
}

.navbar-nav {
     padding: 20px;
}

.nav-link {
     font-size: 15px;
     font-weight: 600;
     color: #FFF;
     text-transform: uppercase;
     transition: color 0.5s;
}

.nav-link:hover {
     color: #FFF;
}

.about-content {
     display: flex;
     flex-direction: column;
}

.about-description {
     width: 100%;
     background-color: whitesmoke;
     padding: 40px;
     outline: 3px solid rgb(55, 65, 75, 0.5);
     outline-offset: -5px;
     order: 2; /* flex order */
     margin-top: 5px;
}

.about-image {
     order: 1;
}

.about-image img {
     width: 100%;
     height: auto;
     display: block;
}

.section-heading {
     position: relative;
     margin-bottom: 100px;
     display: block;
}

.section-heading::before {
     content: '';
     position: absolute;
     background-color: rgb(55, 65, 75, 0.5);
     border-radius: 10px;
     height: 50px;
     width: 2px;
     top: 50px;
}

.heading-title {
     font-family: 'Playfair Display SC', serif; 
     color: rgb(31, 31, 31);
     text-transform: uppercase;
     font-size: 25px;
     font-weight: 600;
}

.lightbox-content {
     position: relative;
     overflow: hidden;
     border: 3px solid whitesmoke;
}

.lightbox-content img {
     transition: transform 1.1s;
}

.lightbox-content:hover img {
     transform: scale(1.1);
}

/* //////////////////////// */

.lightbox-content a::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 100;
     transition: background-color 0.5s;
}

.lightbox-content a:hover::before {
     background-color: rgba(0, 0, 0, 0.5);
}

.lightbox-content a::after {
     font-family: 'Font Awesome 5 Free';
     content: '\f00e';
     font-weight: 600;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #FFF;
     font-size: 25px;
     width: 50px;
     height: 50px;
     /* 
     border: 3px solid #FFF; 
     border-radius: 100%; 
     */
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 0;
     z-index: 101;
     transition: opacity 0.5s;
}

.lightbox-content a:hover::after {
     opacity: 1;
}

.carousel .item {
     color: #999;
     font-size: 15px;
     text-align: center;
}

.carousel .item .img-box {
     width: 135px;
     height: 135px;
     margin: 0 auto;
     padding: 5px;
     border: 1px solid #384147;
     border-radius: 100%;
}

.carousel .img-box img {
     width: 100%;
     height: 100%;
     display: block;
     border-radius: 100%;
}

.carousel .testimonial {
     font-style: italic;
     padding: 55px;
     overflow: hidden;
}

.carousel .customer {
     color: #384147;
     font-weight: 300;
     text-transform: uppercase;
     margin-top: -30px;
}

/* 
.carousel .carousel-control {
     top: 50%;
     width: 50px;
     height: 50px;
     color: #384147;
     transform: translateY(-50%);
}
*/

.carousel-control {
     color: #FFF;
     font-size: 25px;     
}

.carousel-indicators {
     bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
     width: 10px;
     height: 10px;
     background-color: #384147;
     border-radius: 100%;
}

.fa-angle-right,
.fa-angle-left {
     display: none;
}

footer {
     text-align: center;
     background-color: #384147;
}

footer h5 {
     color: #FFF;
     font-family: 'Playfair Display SC', sans-serif;
     margin-top: 15px;
}

#footer-signature {
     color: #FFF;
}

.text-muted {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top: 15px;
     color: rgba(277, 277, 277, 0.7) !important;
}

.text-muted i {
     font-size: 30px;
     margin-top: 10px;
}

.text-muted i.fa-instagram {
     color: #DB5B66;
     transition: color 0.5s;
}

.text-muted i.fa-instagram:hover {
     color: #ED8D52;
}

.text-muted i.fa-facebook-square {
     color: #3f79ec;
     transition: color 0.5s;
}

.text-muted i.fa-facebook-square:hover {
     color: #4c84f3;
}

.text-muted i.fa-whatsapp {
     color: #2FD64B;
     transition: color 0.5s;
}

.text-muted i.fa-whatsapp:hover {
     color: #45f362;
}

.text-muted i.fa-envelope {
     color: #d43d3d;
     transition: color 0.5s;
}

.text-muted i.fa-envelope:hover {
     color: #ff4444;
}

.input-group .btn {
     color: #FFF;
     background-color: #1F1F1F;
     transition: opacity 0.7s;
}

.input-group .btn:hover {
     opacity: 0.7;
}


@media screen and (min-width: 768px) {
     .navbar {
          background-color: transparent;
     }

     .navbar-nav {
          margin: auto;
          padding: 0;
     }

     .nav-link {
          color: #384147;
     }

     .nav-link:hover {
          color: inherit;
     }

     nav:hover .nav-link:not(:hover) {
          opacity: 0.5;
          transition: opacity 0.5s;
     }
     
     .about-content {
          position: relative;
          display: block;
     }

     .about-description {
          position: absolute;
          top: 80%;
          transform: translateY(-50%);
          width: 60%;
          outline-offset: -10px;
     }

     .about-image img {
          width: 90%;
          height: 90%;
          margin: auto;
     }

     .lb-close {
          position: absolute;
          float: none;
          right: 20px;
          top: -40px;
     }

     #lightboxOverlay {
          overflow: hidden;
     }
}

@media screen and (min-width: 1200px) {
     .about-description {
          top: 50%;
          left: 50%;
          width: 40%;
          outline: 10px solid rgba(77, 77, 77, 0.7);
          outline-offset: -20px;
     }

     .about-image img {
          width: 100%;
          height: 100%;
     }
}